---
import DefaultLayout from '@/layout/DefaultLayout.astro'
import '@/styles/globals.css'
import { WEBSITE_NAME } from 'astro:env/server'


---

<DefaultLayout title={WEBSITE_NAME}>
	<h1>Astro</h1>
</DefaultLayout>